.cart{
    background-image: url(img/cart-bg.png);
    width: 70px;
    height: 82px;
    font-size: 2.5em;
    color: white;
}

#numero{
    padding: 10px;
}
#lista{
    margin: auto;    
}
#reto{
    margin-top: 50px;
}
#row{
    margin-top: 20px;
}
#foter{
    margin-top: 10px;
    background-color: #0b5c22;
    text-align: center;
    color:white;
    padding: 6px;
}
#categoria{
    background-color: #0b5c22;
}
section{
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	margin-top: 30px;
}

.producto{
	flex: 20%;
	border: 1px solid #0b5c22;
	text-align: center;
	margin: 7px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #0b5c22;
}

.producto img{
	width: 200px;
}
.info{
    text-align: center;
}
#yapa{
    margin: auto;
    height: 100%;
    width: 100%;
}
#foooter{
    size: 1em;
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 6px;
    border-radius: 30px 30px;
}
.body{
    background-color: black;
}
#jaja{
    color:  #0b5c22;
}
#conta{
    padding-left: 25%;
    padding-top: 4%;
}
#jojo{
    size: 0.5em;
    color: white;
}